.vs
build
build_sdl2
local.properties
android/SDL2_image_src
android/SDL2_mixer_src
android/SDL2_ttf_src
android/SDL2_src
android/app/.cxx
android/.gradle
android/.idea
diff
*.obj
*.exe
resources/original.ico
log.txt
scripts/dls
scripts/prefix
build.ninja
__pycache__

android/app/src/main/assets
obj/
config
config_*

android/startDebug.bat
src_bak

build_ps2
library_repo
*.bak
*.bak2
*.bak3
*.bak*